<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "me.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Sarah Wu</h1>
    <p>Welcome to my blog.</p>
    <p>This is a learning process about how to build a blog through ruby on rails.</p>
    <p>Learning programming is pretty cool and awesome 👻</p>
    <p>Pls join me! Here is my github address: <a href="https://github.com/youmeiwu">youmei</a>. Contact me.</p>
  </div>
</div>
